body {
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/innsbruck.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 180px;
}

header h1 {
  font-size: 80px;
  margin: 0;
}

header h2 {
  font-size: 40px;
  margin: 0;
}

header h3 {
  font-size: 30px;
  margin: 0;
}

header a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 30px;
}

header a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  header {
    padding: 30px;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 30px;
  }

  header h3 {
    font-size: 20px;
  }

  header a {
    padding: 10px;
  }
}
