body {
  background-color: rgb(49, 120, 150);
}

.container {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: white;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/innsbruck.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 180px;
}

header h1 {
  font-size: 80px;
  margin: 0;
}

header h2 {
  font-size: 40px;
  margin: 0;
}

header h3 {
  font-size: 30px;
  margin: 0;
}

header a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 30px;
}

header a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main img {
  max-width: 500px;
  border-radius: 5px;
}

main h2 {
  margin: 0;
}

footer {
  background-image: linear-gradient(
      rgba(49, 120, 150, 0.8),
      rgba(49, 120, 150, 0.8)
    ),
    url("/images/innsbruck-footer.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 20px;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
}

footer ul {
  padding: 0;
  opacity: 0.7;
}

footer li {
  list-style: none;
}

footer p {
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 30px;
  }

  header h3 {
    font-size: 20px;
  }

  header a {
    padding: 10px;
  }

  footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
